.item {
    width: 300px;
    margin-bottom: 15px;
  
    border-radius: 15px;
  
    overflow: hidden;
    cursor: pointer;
    transform: scale(1);
    transition: transform var(--hover-animation);
  }
  
  .item:hover,
  .item:focus {
    transform: scale(1.02);
  }
  
  .item:last-child {
    margin-bottom: 0;
  }